@charset "utf-8";

p{
    color: rgba(173, 28, 28, 0.822);
    background-color: blue;
    /*font-weight: bold;*/
    line-height: 2;
    font-size: 80px;
    transform: translate(125px, 80px) rotate(10deg) skew(10deg); 
margin: 200px 200px 200px 200px;


}

div{
    /* margin-bottom: 200px; */
    /* margin-left: 200px; */
    /* margin-right: 200px; */
    /* margin-top: 200px; */
    font-weight: normal;
    font-size: 30px;

    width: calc(100% - 100px);
    height: 1000px;
    /* background-image: url("./bg-kinnikuman.png"); */
    /* background-color: aqua; */
    /* background-repeat: no-repeat; */
    background: url("./bg-kinnikuman.png") aqua no-repeat;

}
